body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    width: 82vw;
    margin-right: auto;
    margin-left: auto;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo__picture {
  height: auto;
  width: 15vw;
  border-radius: 0px;
  margin-top: 5vh;
  margin-bottom: 1.5vh;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 1vw;
    border-bottom: 0.2vw solid #FDD816;
    background: url(assets/paint.svg) no-repeat;
    background-size: cover;
    background-position: center;
}

.menu__item {
  position: relative;
  box-shadow: 0px 4px 27px 3px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 25.1%;
  margin: 2vw 0 1.5vw 0;
  display: inline-block;
  overflow: hidden;
}

.menu__picture {
    width: 100%;
    height: auto;
    display: table-cell;
    vertical-align: middle;
    border: none;
    transition: 0.5s;
    display: block;
}

.menu__picture:hover {
    transform: scale(1.1);
}

.menu__text {
  position: absolute;
  bottom: 10%;
  left: 3%;
  color: #FBFEFA;
  font-size: 3vw;
  line-height: 3vw;
  display: flex;
  align-items: flex-end;
}

.question {
    display: block;
    font-size: 3vw;
    color: #333333;
    text-align: center;
    margin: 0vh;
}

p {
    font-size: 2vw;
    text-align: center;
}

.information {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 46vw;
    padding-bottom: 1vw;
    border-bottom: 0.2vw solid #FDD816;
}

.information__text {
    padding-top: 8vw;
    background: url(assets/sheese.svg) no-repeat;
    background-size: 42.3vw;
    width: 46%;
    height: auto;
    color: #2B2626;
}

.information__picture {
    width: 46%;
    margin-top: 8vw;
}

.information__picture img {
    width: 100%;
    height: auto;
    border-radius: 35px;
    box-shadow: 0px 4.00234px 10.0058px 4.00234px rgba(0, 0, 0, 0.35);
}

.buttons, .blob-btn:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.buttons {
   text-align: center;
}

.buttons p {
    margin: 0;
}

.blob-btn {
  z-index: 0;
  position: relative;
  padding: 20px 20px;
  text-align: center;
  color: #333333;
  background-color: transparent;
  outline: none;
  border: none;
  -webkit-transition: color 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 6px solid #fff;
}
.blob-btn:hover {
  color: #fff;
}
.blob-btn:hover:after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.blob-btn__blob, .blob-btn__blob_right {
  position: absolute;
  top: 6px;
  width: 25%;
  height: 100%;
  background: #6ABB86;
  border-radius: 100%;
  -webkit-transform: translate3d(100%, 150%, 0) scale(1.7);
          transform: translate3d(100%, 150%, 0) scale(1.7);
  -webkit-transition: -webkit-transform 0.45s;
  transition: -webkit-transform 0.45s;
  transition: transform 0.45s;
  transition: transform 0.45s, -webkit-transform 0.45s;
}
@supports ((-webkit-filter: url("#goo")) or (filter: url("#goo"))) {
  .blob-btn__blob, .blob-btn__blob_right {
    -webkit-transform: translate3d(0, 150%, 0) scale(1.4);
            transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  -webkit-transition-delay: 0.16s;
          transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  -webkit-transition-delay: 0.24s;
          transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  -webkit-transform: translateZ(0) scale(1.7);
          transform: translateZ(0) scale(1.7);
}
.blob-btn:hover .blob-btn__blob_right {
  -webkit-transform: translateZ(0) scale(1.7);
          transform: translateZ(0) scale(1.7);
}
.blob-btn__blob_right:nth-child(1) {
  right: 0%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.blob-btn__blob_right:nth-child(2) {
  right: 30%;
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
}
.blob-btn__blob_right:nth-child(3) {
  right: 60%;
  -webkit-transition-delay: 0.16s;
          transition-delay: 0.16s;
}
.blob-btn__blob_right:nth-child(4) {
  right: 90%;
  -webkit-transition-delay: 0.24s;
          transition-delay: 0.24s;
}

.rating {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 44vw;
    padding-bottom: 2vw;
    padding-top: 1vw;
    border-bottom: 0.2vw solid #FDD816;
}

.rating__picture {
    width: 46%;
    margin-top: 9vw;
}

.rating__text {
    padding-top: 10.8vw;
    width: 50%;
    background: url(assets/mustard.svg) no-repeat;
    background-size: 40vw;
}

.best_top {
    width: 100%;
    border-radius: 35px;
    box-shadow: 0px 4.00234px 10.0058px 4.00234px rgba(0, 0, 0, 0.35);
}

.meeting {
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 44vw;
    border-bottom: 0.2vw solid #FDD816;
    margin-bottom: 0.4vw;
}

.meeting__picture {
    width: 46%;
    margin-top: 9vw;
}

.meeting__picture img {
    width: 100%;
    border-radius: 35px;
    box-shadow: 0px 4.00234px 10.0058px 4.00234px rgba(0, 0, 0, 0.35);
}

.meeting__text {
    order: -1;
    width: 50%;
    padding-top: 10.8vw;
    background: url(assets/boop.svg) no-repeat;
    background-size: 34vw;
    background-position: center;
}

#pop-up, #pop-up3 {
    background: rgba(245, 239, 239, 0.8);
    width: 100%;
    height: 100%;
    display: none;
}

#window, #window3 {
    position: relative;
    width: 60%;
    height: 35vw;
    text-align: center;
    border: 0.5vw solid #FFE351;
    color: #333333;
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.outsideLink {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.window__picture1 {
    width: 50%;
}

.window__text1 {
    width: 50%;
    height: auto;
    padding: 3vw 1vw 0vw 0.5vw;
    background: url(assets/vertical_boop.svg) no-repeat;
    background-position: center;
    background-size: 100%, 100%;
}

.verticalBackground {
    background: url(assets/vertical3.svg) no-repeat;
    background-position: center;
    background-size: 100%, 100%;
}

.window__text1 p {
    margin: 0;
}

#window img, #window3 img {
    height: 100%;
    width: 100%;
}

#pop-up:target, #pop-up3:target {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.close {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 2vw;
    color: #2B2626;
    background: #4AA8DC;
    box-shadow: 0 4px 8px 0 rgba(39, 153, 214, 0.75);
    cursor: pointer;
    text-decoration: none;
}
.close:hover {
    background: #4FC377;
    box-shadow: 0 4px 16px 0 rgba(39, 153, 214, 0.25);
}

.window__cross {
    position: absolute;
    top: -1.3vw;
    right: -1.3vw;
    width: 3vw;
    height: 3vw;
    font-size: 1.8vw;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #333333;
    border-radius: 50%;
    transition: 0.25s ease-in-out;
}

.window__cross:hover {
    background: #fff;
    color: #333333;
}

#pop-up2 {
    position: fixed;
    background: rgba(245, 239, 239, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

#window2 {
    position: relative;
    width: 57%;
    height: 45vw;
    text-align: center;
    border: 0.5vw solid #FFE351;
    color: #333333;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #fff;
}

.window__picture2 {
    width: 100%;
    height: 55%;
}

.window__text2 {
    width: 100%;
    height: 43%;
    padding: 1vw 1vw 0vw 0.5vw;
    background: url(assets/gorizontal_boop.svg) no-repeat;
    background-position: center;
    background-size: cover;
    color: #000;
    font-weight: 500;
}

.window__text2 p {
    margin: 0;
}

#window2 img {
    height: 100%;
    width: 100%;
}

#pop-up2:target {
    display: flex;
    justify-content: center;
    align-items: center;
}

.window__cross {
    position: absolute;
    top: -1.3vw;
    right: -1.3vw;
    width: 3vw;
    height: 3vw;
    font-size: 1.8vw;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #333333;
    border-radius: 50%;
    transition: 0.25s ease-in-out;
}

.window__cross:hover {
    background: #fff;
    color: #333333;
}

.review__button {
    display: flex;
    justify-content: center;
}

.review__button div {
    margin: 2.35vw 5vw 3vw 5vw;
}

.review__text {
    width: 65%;
    margin: auto;
}

.review__row {
    display: flex;
    justify-content: space-around;
    margin-top: 3vw;
}

.review__item1 {
    width: 33.333%;
    height: 27vw;
    background: url(assets/boop1.svg) no-repeat;
    background-size: contain;
    background-position: center;
}

.review__item2 {
    width: 33.333%;
    height: 27vw;
    background: url(assets/boop2.svg) no-repeat;
    background-size: contain;
    background-position: center;
}

.review__item3 {
    width: 33.333%;
    height: 27vw;
    background: url(assets/boop3.svg) no-repeat;
    background-size: contain;
    background-position: center;
}

.al-c1 {
 display: table;
 width: 15.5vw;
 margin-left: 17%;
 margin-top: 15%;
}

.al-c2 {
 display: table;
 width: 15.5vw;
 margin-left: 24%;
 margin-top: 15%;
}

.al-c3 {
 display: table;
 width: 15.5vw;
 margin-left: 23%;
 margin-top: 15%;
}

.al-b {
    display: table;
    width: 100%;
    height: 100%;
}

.container {
 margin-right:auto;
 margin-left:auto;
 display: table-cell;
 vertical-align: middle;
 text-align: center;
}

.effects {
 list-style:none;
 margin: 0 auto;
 width: 100%;
 text-align: center;
 padding: 0;
}

.effects li {
 position: relative;
 display: inline-block;
 margin: 0;
 overflow: hidden;
 border-radius: 20px;
}

.effects li img {
 display: block;
 position: relative;
 width: 100%;
 height:auto;
 margin-left: auto;
 margin-right: auto;
}

.effects li > div {
 width: 100%;
 height: 100%;
 position: absolute;
 border-radius: 20px;
}

.effects li:hover > div {
 position: absolute;
 overflow: hidden;
 top: 0;
 left: 0;
}

.review__link {
 display: inline-block;
 text-decoration: none;
 padding: 1vw 2vw;
 color: #fff;
 background: #000;
 font-size: 1.4vw;
 transition: all 0.4s ease-in-out;
 border-radius: 0.5vw;
}

.red:hover {
 background: #F31F1F;
 color: #fff;
 border-radius: 0.5vw;
}

.yellow:hover {
    background: #F1CD10;
    color: #fff;
    border-radius: 0.5vw;
}

.effects li div {
 opacity: 0;
 background-color: rgba(0, 0, 0, 0.15);
 transition: 0.4s ease-in-out;
 color: #fff;
 transform: translate(100%, 0) rotate(0deg);
}

.effects li:hover div {
 opacity: 1;
 transform: translate(0, 0) rotate(0deg);
}

.photo_cart {
    width: 68%;
    height: 76%;
    border-radius: 20px;
    margin-left: 14%;
}

.review__row p {
    margin: 0.8vw 0;
}

.btn, .btn1 {
  display: block;
  padding: 14px 26px;
  border: none;
  border-radius: 10px;
  font-size: 2vw;
  color: #2B2626;
  background: #FFE351;
  box-shadow: 0 4px 8px 0 rgba(39, 153, 214, 0.75);
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.btn:before {
    content: "\271A";
    width: 2.2vw;
    height: 2.2vw;
	color: white;
	margin-right: 0.5vw;
	border-radius: 50%;
	text-align: center;
	background: transparent;
	transition: 0.25s ease-in-out;
	padding: 0 0.3vw;
}

.btn:hover:before {
	background: #fff;
	color: #FDD816;
}

.btn:hover, .btn1:hover {
  background: rgba(0, 162, 55, 0.45);
  box-shadow: 0 4px 16px 0 rgba(39, 153, 214, 0.25);
  color: #fff;
}

.footer {
    display: flex;
    justify-content: space-between;
    background: #EEEEEE;
    width: 100%;
    border-top: 0.3vw solid #FDD816;
}

.navigation {
    margin-top: 2vw;
    width: 40%;
}

.navigation__item {
    display: flex;
    justify-content: row;
}

.navigation__text {
    display: flex;
    align-items: center;
    font-size: 1.5vw;
}

.navigation__link {
    color: #4f4f4f;
    text-decoration: none;
}

.navigation__link:hover {
    color: #E82B2B;
}

.navigation__picture {
    margin-left: 1vw;
    width: 3.8vw;
    height: auto;
    cursor: pointer;
}

.form {
    text-align: center;
    width: 50%;
    height: auto;
    margin-top: 2.4vw;
    margin-bottom: 2vw;
}

.form__input {
  display: block;
  box-sizing: border-box;
  width: 70%;
  margin-bottom: 1vw;
  padding: 0.5vw 1vw;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #fff;
  font-size: 1.5vw;
  font-weight: 300;
}

.form__input:focus {
  transition: transform 0.2s ease-out;
  transform: scale(1.02, 1.02);
}

.form__text {
    float: left;
    color: #4f4f4f;
    font-size: 1.7vw;
    margin: 0.5vw 0 0.3vw 0;
}



.button2 {
    display: flex;
    justify-content: flex-start;
    margin-top: 0.8vw;
}

.footer__button {
  padding: 0.5vw 1vw;
  border: none;
  border-radius: 4px;
  font-size: 1.8vw;
  color: #fff;
  background: #50ACDE;
  box-shadow: 0 4px 8px 0 rgba(39, 153, 214, 0.35);
  cursor: pointer;
}

.footer__button:hover {
  background: #7cc1e6;
  box-shadow: 0 4px 16px 0 rgba(39, 153, 214, 0.25);
}

.social {
    display: flex;
    justify-content: space-around;
    width: 56%;
    margin-top: 2vw;
    padding-bottom: 2.8vw;
}

.social img {
    width: 3.4vw;
    cursor: pointer;
}

.button1:active {
    outline: none;
    border: none;
}
.liquid-mini {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@media screen and (max-width: 900px) {
    .logo__picture {
        width:22vw;
     }
    .menu {
        padding-bottom: 2vw;
        border-bottom: 0.4vw solid #FDD816;
    }
    .menu__item {
        width: 45%;
        margin: 3vw 0 0.5vw 0;
    }
    .menu__text {
        font-size: 5vw;
        line-height: 5vw;
    }
    .information {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        padding-bottom: 2vw;
        border-bottom: 0.4vw solid #FDD816;
    }
    .information__text {
        width: 100%;
        height: auto;
        color: #2B2626;
        background-size: 28vw;
        background-position: center top;
        font-size: 40px;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    .information__picture {
        order: -1;
        width: 100%;
        height: 50vw;
        background: url(assets/information_picture_min.png) 100% 100% no-repeat;
        background-size: cover;
        border-radius: 20px;
        margin-top: 3vw;
    }
    .information__picture img {
        display: none;
        border-radius: 10px;
    }
    .question {
        font-size: 26px;
    }
    .rating {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        padding-top: 2vw;
        padding-bottom: 2vw;
        border-bottom: 0.4vw solid #FDD816;
    }
    .rating__picture {
        width: 100%;
        height: 50vw;
        background: url(assets/best_mac_min.png) 100% 100% no-repeat;
        background-size: cover;
        border-radius: 20px;
        margin-top: 3vw;
    }
    .rating__text {
        padding-top: 2vw;
        padding-bottom: 3vw;
        width: 100%;
        background-size: 25vw;
        background-position: center top;
    }
    .best_top {
        display: none;
    }
    .meeting {
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin-bottom: 3vw;
    }
    .meeting__picture {
        width: 100%;
        height: 50vw;
        background: url(assets/meeting_min.png) 100% 100% no-repeat;
        background-size: cover;
        border-radius: 20px;
        margin-top: 3vw;
    }
    .meeting__picture img {
        display: none;
    }
    .meeting__text {
        order: 1;
        width: 100%;
        padding-bottom: 3vw;
        background-size: 25vw;
        background-position: center 30%;
        padding-top: 3vw;
    }
    .footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .navigation {
        width: 100%;
        height: auto;
    }
    .form {
        width: 92%;
        height: auto;
        margin: auto;
        border-top: 0.1vw solid #FDD816;
        padding-top: 2vw;
        margin-bottom: 3vw;
    }
    .navigation__item {
        display: flex;
        justify-content: row;
        margin: 0.8vw 0;
    }
    .social img {
        width: 7vw;
    }
   .social {
        width: 40%;
        margin-top: 2.5vw;
        margin-bottom: 0;
    }
    .navigation__picture {
        margin-left: 2vw;
        width: 8vw;
        height: auto;
        cursor: pointer;
    }
    .form__input {
      width: 90%;
      margin-bottom: 1vw;
      padding: 2vw 2vw;
      border-radius: 8px;
      font-size: 12px;
      font-weight: 300;
    }
    .footer__button {
      padding: 6px 12px;
      margin-top: 2vw;
      border-radius: 4px;
      font-size: 15px;
    }
    .footer__button:hover {
      background: #7cc1e6;
      box-shadow: 0 4px 16px 0 rgba(39, 153, 214, 0.25);
    }
     .navigation__text {
        font-size: 1.8vw;
     }
     .button1, .btn, .btn1 {
        font-size: 18px;
        padding: 10px 18px;
     }
     p {
        font-size: 20px;
        margin: 0.8vw 0;
     }
     .navigation__text {
        font-size: 16px;
     }
     .form__text {
        font-size: 16px;
     }
     .review__button {
       display: flex;
       justify-content: center;
     }
    .review__button div {
        margin: 3vw 5vw;
    }
    .photos_block {
        width: 100%;
        height: auto;
    }
    .review__text {
        width: 100%;
    }
    .review__row {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 3vw;
    }
    .review__item1 {
        width: 90%;
        height: 47vw;
    }
    .al-c1 {
         width: 27vw;
         margin-left: 29%;
         margin-top: 9.5%;
    }
    .effects li a {
         padding: 1vw 2vw;
         font-size: 18px;
         border-radius: 1vw;
    }
    .review__item2, .review__item3 {
        display: none;
    }
    .btn:before {
        padding: 0 0.39vw;
    }
    #window, #window3 {
        width: 75%;
        height: 50vw;
        border: 0.7vw solid #FFE351;
    }
    #window2 {
        width: 75%;
        height: auto;
    }
    .window__picture2 {
        max-height: 55%;
        height: auto;
    }
    .window__picture1 {
        width: 53%;
    }
    .window__text1 {
        width: 47%;
        padding: 3vw 1vw 0vw 0.5vw;
    }
    .window__text1 p {
        margin-bottom: 0vw;
    }
    .window__text2 p {
        padding-bottom: 0vw;
    }
    .close {
        font-size: 18px;

    }
    .window__cross {
        width: 4vw;
        height: 4vw;
        font-size: 2.4vw;
    }
    .button-mini {
      padding: 14px 26px;
      border: none;
      border-radius: 10px;
      font-size: 2vw;
      color: #2B2626;
      background-color: #FDD816;
      box-shadow: 0 4px 8px 0 rgba(39, 153, 214, 0.75);
      cursor: pointer;
    }

    .button-mini:hover {
      background: #FAE059;
      box-shadow: 0 4px 16px 0 rgba(39, 153, 214, 0.25);
    }
    .buttons {
       text-align: center;
    }

    .buttons p {
        margin: 0;
    }
    .blob-btn:before {
      display: none;
    }
    .blob-btn:hover:after {
      display: none;
    }
    .blob-btn__inner {
      display: none;
    }
    .blob-btn__blob, .blob-btn__blob_right {
        display: none;
    }
    .mega-boop {
        display: none;
    }
    .liquid-mini {
      display: inline-block;
      padding: 14px 26px;
      border: none;
      border-radius: 10px;
      margin-top: 2vw;
      font-size: 2vw;
      color: #2B2626;
      background: #FDD816;
      box-shadow: 0 4px 8px 0 rgba(39, 153, 214, 0.75);
      text-decoration: none;
    }
    .liquid-mini:hover {
      background: #FAE059;
      box-shadow: 0 4px 16px 0 rgba(39, 153, 214, 0.25);
    }
}

@media screen and (max-width: 750px) {
    #window, #window3 {
        width: 80%;
        height: auto;
        border: 0.7vw solid #FFE351;
    }
    .window__picture1 {
        width: 50%;
    }
    .window__text1 {
        width: 50%;
    }
    .window__cross {
        width: 6vw;
        height: 6vw;
        font-size: 3vw;
    }
}

@media screen and (max-width: 650px) {
    p {
        font-size: 20px;
        margin: 0.8vw 0;
     }
     .review__button {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
     }
     #window, #window3 {
        width: 68%;
        height: auto;
        max-height: 98%;
        flex-wrap: wrap;
        border: 0.7vw solid #FFE351;
    }
    .window__picture1 {
        width: 100%;
        height: auto;
        max-height: 52vh;
        display: flex;
        justify-content: center;
    }
    .window__picture1 img {
        height: 100%;
    }
   .window__text1 {
        width: 100%;
        height: 100%;
        padding: 3vw 1vw 3vw 0.5vw;
    }
    .close {
        font-size: 18px;
    }
    .window__cross {
        top: -3vw;
        right: -3vw;
        width: 8vw;
        height: 8vw;
        font-size: 4vw;
    }
}

@media screen and (max-width: 530px) {
    p {
        font-size: 4vw;
        margin: 0.8vw 0;
     }
     .effects li a {
         padding: 1vw 2vw;
         font-size: 3.8vw;
         border-radius: 1vw;
     }
     .question {
        font-size: 4.4vw;
        margin: 2vw 0;
     }
     .form__input {
          font-size: 12px;
     }
     .navigation__text {
        font-size: 3.6vw;
     }
     .form__text {
        font-size: 3.6vw;
     }
     .button1, .btn, .btn1 {
        font-size: 3.8vw;
        padding: 2.4vw 2.8vw;
     }
     .body {
         width: 90%;
     }
     .btn:before {
        padding: 0 0.56vw;
    }
    .review__item1 {
        width: 90%;
        height: 55vw;
    }
    .al-c1 {
         width: 33vw;
         margin-left: 26%;
         margin-top: 9.5%;
    }
    .close {
        font-size: 3.6vw;
    }
}

@media screen and (max-width: 310px) {
    .button1, .btn, .btn1 {
        font-size: 3.8vw;
        padding: 3vw 3.4vw;
     }
}


