body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.mainradius {
    width: 82vw;
    margin-left: auto;
    margin-right: auto;
}

.logo_picture {
  height: auto;
  width: 15vw;
  border-radius: 0px;
  margin-top: 5vh;
  margin-bottom: 1.5vh;
}

.logo {
  display: flex;
  justify-content: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu_picture {
    width: 100%;
    height: auto;
    display: table-cell;
    vertical-align: middle;
    border: none;
}

.item_menu {
  position: relative;
  box-shadow: 0px 4px 27px 3px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 25.1%;
  margin: 2vw 0 1.5vw 0;
}

.menu_text {
  position: absolute;
  bottom: 10%;
  left: 3%;
  color: #FBFEFA;
  font-size: 3vw;
  line-height: 3vw;
  display: flex;
  align-items: flex-end;
}

.item_menu {
    display: inline-block;
    overflow: hidden;
}
.item_menu img {
    transition: 0.5s;
    display: block;
}
.item_menu img:hover {
    transform: scale(1.1);
}

.line {
    border-radius: 20px;
    width:100%;
}

.question {
    display: block;
    font-size: 3vw;
    color: #333333;
    text-align: center;
    margin: 0vh;
}

p {
    font-size: 2vw;
    text-align: center;
}

.information_club {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 44vw;
}

.information_text {
    padding-top: 8vw;
    background: url(assets/sheese.svg) no-repeat;
    background-size: 39.9vw;
    width: 46%;
    height: auto;
    color: #2B2626;
}

.information_picture {
    width: 46%;
    margin-top: 8vw;
}

.information_picture img {
    width: 100%;
    height: auto;
    border-radius: 35px;
    box-shadow: 0px 4.00234px 10.0058px 4.00234px rgba(0, 0, 0, 0.35);
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.button1 {
  padding: 14px 26px;
  border: none;
  border-radius: 10px;
  font-size: 2vw;
  color: #2B2626;
  background: #FDD816;
  box-shadow: 0 4px 8px 0 rgba(39, 153, 214, 0.75);
  cursor: pointer;
}

.button1:hover {
  background: #FAE059;
  box-shadow: 0 4px 16px 0 rgba(39, 153, 214, 0.25);
}

.mac_top {
    width: 46%;
    margin-top: 9vw;
}

.mac_top_block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 44vw;
}

.mac_top_text {
    padding-top: 10.8vw;
    width: 50%;
    background: url(assets/mustard.svg) no-repeat;
    background-size: 40vw;
}

.best_top {
    width: 100%;
    border-radius: 35px;
    box-shadow: 0px 4.00234px 10.0058px 4.00234px rgba(0, 0, 0, 0.35);
}

.meeting {
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 44vw;
}

.last_meet {
    width: 46%;
    margin-top: 9vw;
}

.meet_picture {
    width: 100%;
    border-radius: 35px;
    box-shadow: 0px 4.00234px 10.0058px 4.00234px rgba(0, 0, 0, 0.35);
}

.last_meet_text {
    order: -1;
    width: 50%;
    padding-top: 10.8vw;
    background: url(assets/boop.svg) no-repeat;
    background-size: 34vw;
    background-position: center;
}

.footer_menu {
    display: flex;
    justify-content: space-between;
    background: #EEEEEE;
    width: 100%;
}

.footer_navigation {
    margin-top: 2vw;
    width: 40%;
}

.footer_menu_item {
    display: flex;
    justify-content: row;
}

.footer_text {
    display: flex;
    align-items: center;
    font-size: 1.5vw;
}

.footer_link {
    color: #4f4f4f;
    text-decoration: none;
}

.footer_link:hover {
    color: #E82B2B;
}

.footer_picture {
    margin-left: 1vw;
    width: 3.8vw;
    height: auto;
    cursor: pointer;
}

.form {
    text-align: center;
    width: 50%;
    height: auto;
    margin-top: 2.4vw;
    margin-bottom: 2vw;
}

.form_input {
  display: block;
  box-sizing: border-box;
  width: 70%;
  margin-bottom: 1vw;
  padding: 0.5vw 1vw;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #fff;
  font-size: 1.5vw;
  font-weight: 300;
}

.form_input:focus {
  transition: transform 0.2s ease-out;
  transform: scale(1.02, 1.02);
}

.email {
    float: left;
    color: #4f4f4f;
    font-size: 1.7vw;
    margin: 0.5vw 0 0.3vw 0;
}

.button2 {
    display: flex;
    justify-content: flex-start;
    margin-top: 0.8vw;
}

.footer_button {
  padding: 0.5vw 1vw;
  border: none;
  border-radius: 4px;
  font-size: 1.8vw;
  color: #fff;
  background: #50ACDE;
  box-shadow: 0 4px 8px 0 rgba(39, 153, 214, 0.35);
  cursor: pointer;
}

.footer_button:hover {
  background: #7cc1e6;
  box-shadow: 0 4px 16px 0 rgba(39, 153, 214, 0.25);
}

.social {
    display: flex;
    justify-content: space-around;
    width: 56%;
    margin-top: 2vw;
    padding-bottom: 2.8vw;
}

.social img {
    width: 3.4vw;
    cursor: pointer;
}

.footer_menu {
    border-top: 0.3vw solid #FDD816;
}


@media screen and (max-width: 900px) {
    .information_club {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }

    .information_text {
        width: 100%;
        height: auto;
        color: #2B2626;
        background-size: 22vw;
        background-position: center top;
        font-size: 40px;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

    .information_picture {
        order: -1;
        width: 100%;
        height: 40vw;
        background: url(assets/information_picture_min.png) 100% 100% no-repeat;
        background-size: cover;
        border-radius: 20px;
        margin-top: 3vw;
    }

    .information_picture img {
        display: none;
    }

    .question {
        font-size: 24px;
    }

    .mac_top {
        width: 100%;
        height: 40vw;
        background: url(assets/best_mac_min.png) 100% 100% no-repeat;
        background-size: cover;
        border-radius: 20px;
        margin-top: 3vw;
    }

    .mac_top_block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }

    .mac_top_text {
        padding-top: 2vw;
        padding-bottom: 3vw;
        width: 100%;
        background-size: 20vw;
        background-position: center top;
    }

    .best_top {
        display: none;
    }

    .meeting {
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }

    .last_meet {
        width: 100%;
        height: 40vw;
        background: url(assets/meeting_min.png) 100% 100% no-repeat;
        background-size: cover;
        border-radius: 20px;
        margin-top: 3vw;
    }

    .meet_picture {
        display: none;
    }

    .last_meet_text {
        order: 1;
        width: 100%;
        padding-top: 2vw;
        padding-bottom: 3vw;
        background-size: 20vw;
        background-position: center 30%;
    }
    .footer_menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer_navigation {
        width: 100%;
        height: auto;
    }

    .form {
        width: 92%;
        height: auto;
        margin: auto;
        border-top: 0.1vw solid #FDD816;
        padding-top: 2vw;
        margin-bottom: 3vw;
    }

    .footer_menu_item {
        display: flex;
        justify-content: row;
        margin: 0.8vw 0;
    }
    .social img {
        width: 5.5vw;
    }
   .social {
        width: 40%;
        margin-top: 2.5vw;
        margin-bottom: 0;
    }
    .footer_picture {
        margin-left: 2vw;
        width: 5.5vw;
        height: auto;
        cursor: pointer;
    }
    .form_input {
      width: 70%;
      margin-bottom: 1vw;
      padding: 2vw 2vw;
      border-radius: 8px;
    }
    .footer_button {
      padding: 6px 12px;
      margin-top: 2vw;
      border-radius: 4px;
      font-size: 14px;
    }

    .footer_button:hover {
      background: #7cc1e6;
      box-shadow: 0 4px 16px 0 rgba(39, 153, 214, 0.25);
    }




    .item_menu {
        width: 45%;
        margin: 3vw 0 0.5vw 0;
    }
    .menu_text {
        font-size: 5vw;
        line-height: 5vw;
    }
    .footer_picture {
        width: 5vw;
        height: auto;
     }
     .footer_text {
        font-size: 1.8vw;
     }
     .button1 {
        font-size: 2.8vw;
     }
     .logo_picture {
        width:22vw;
     }
     .last_meet_text {
        padding-top: 3vw;
     }
     .button1 {
        padding: 10px 18px;
     }
     .information_picture img {
        border-radius: 10px;
     }
     p {
        font-size: 18px;
        margin: 0.8vw 0;
     }
     .form_input {
          width: 90%;
          font-size: 10px;
          font-weight: 300;
     }
     .footer_text {
        font-size: 14px;
     }
     .email {
        font-size: 14px;
     }
}


}

@media screen and (max-width: 650px) {
    p {
        font-size: 12px;
        margin: 0.8vw 0;
     }
}

@media screen and (max-width: 530px) {
    p {
        font-size: 3.5vw;
        margin: 0.8vw 0;
     }
     .question {
        font-size: 3.8vw;
     }
     .form_input {
          font-size: 10px;
     }
     .footer_text {
        font-size: 3.2vw;
     }
     .email {
        font-size: 3.2vw;
     }
}
